body {
  height: 100vh;
  background-color: hsl(0, 29%, 45%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: hsl(0, 0%, 85%);
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
}

.input-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.text-lable {
  padding: 5px 0px;
  font-size: large;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: medium;
}

#submit-btn {
  margin: 1rem;
  font-size: medium;
  font-weight: 600;
  background-color: hsl(125, 57%, 51%);
}
