.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(215, 88%, 10%);
}

form {
  background-color: hsl(218, 49%, 21%);
  padding: 1rem 3rem;
  max-width: min-content;
  border-radius: 20px;
  text-align: center;
}

.form-title {
  color: white;
  font-weight: 900;
}

#submit-btn {
  width: 80%;
  padding: 1rem;
  margin: 2rem 0px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  font-weight: 600;
  background-color: hsl(125, 100%, 40%);
  cursor: pointer;
}

#submit-btn:hover {
  background-color: hsl(125, 100%, 35%);
}
